NLP/EvaluateStudentWriting/data/
CV/UltraMNIST/data/
AUDIO/MusicClassification/data/
AUDIO/MusicClassification/model/
AUDIO/MusicClassification/wandb/
AUDIO/MusicClassification/logs/
NLP/PatentPhraseMatching/data/
TABULAR/ABALONE/data/
TABULAR/ABALONE/output/
TABULAR/ABALONE/models/
TABULAR/ABALONE/catboost_info/
TABULAR/FLOOD_PREDICTION/data/
TABULAR/FLOOD_PREDICTION/output/
TABULAR/FLOOD_PREDICTION/catboost_info/
TABULAR/PS4E6/data/
TABULAR/PS4E6/output/
TABULAR/PS4E6/catboost_info/
*.pyc
*.feather
